---
import diana from "../assets/diana.avif"
import Layout from "../components/Layout.astro"
---

<Layout title="Home" description="Welcome to the real shop!">
  <h1>REAL SHOP</h1>
  <p>
    This is a totally real shop! See! That's a picture! Of a shop! Totally open.
  </p>
  <img src={diana} alt="Check us out" />
</Layout>
