---
import Layout from "../components/Layout.astro"
---

<Layout
  title="Success"
  description="Your order has been placed. Thank you for shopping with us!"
>
  <h1>Success</h1>
  <p>Your order has been placed. Thank you for shopping with us!</p>
</Layout>
